/java.javafx/target/
/mavenproject1/target/
/java.fx/target/
/java.fx.anim/target/
/java.fx.comp/target/
/java9-mod/nbproject/private/
/Java9Examples/nbproject/private/
/Java9Examples2/nbproject/private/
/Java9Examples/dist/
/Java9Examples/build/
/JavaModularApplication4/nbproject/private/
/JettyTest/nbproject/private/
/JettyTest/target/
/.metadata/*
/.metadata/
/.recommenders/
.metadata/.log
.metadata/.plugins/org.eclipse.core.resources/.projects/java.classes/.markers
.metadata/.plugins/org.eclipse.core.resources/.projects/java.classes/org.eclipse.jdt.core/state.dat
.metadata/.plugins/org.eclipse.core.resources/.projects/java.collections/.markers
.metadata/.plugins/org.eclipse.core.resources/.projects/java.collections/org.eclipse.jdt.core/state.dat
.metadata/.plugins/org.eclipse.core.resources/.projects/java.exceptions/.markers
.metadata/.plugins/org.eclipse.core.resources/.projects/java.exceptions/org.eclipse.jdt.core/state.dat
.metadata/.plugins/org.eclipse.core.resources/.projects/java.io/.markers
.metadata/.plugins/org.eclipse.core.resources/.projects/java.io/org.eclipse.jdt.core/state.dat
.metadata/.plugins/org.eclipse.core.resources/.projects/java.io/org.eclipse.jdt.core/state.dat
.metadata/.plugins/org.eclipse.core.resources/.projects/java.syntax/.markers
.metadata/.plugins/org.eclipse.core.resources/.projects/java.syntax/org.eclipse.jdt.core/state.dat
.metadata/.plugins/org.eclipse.wst.sse.core/task-tags.properties
.metadata/version.ini
