/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 9, 2017, 5:48:13 PM
    Author     : helderdarocha
*/

.btn2{
    -fx-font: 22 arial; 
    -fx-base: #b6e7c9;    
}